@import "fonts", "fuction-sass", "responsive";

$colorbtn: #198754;

body{
    background-color: #f8f9fa;
}

#title_logo{
    @include textDecorationBlack();
    margin: 2rem;
    font-family: MonstserratBold;
}

#poke-deck{
    .box_input{
        width: 100%;
        height: auto;
        @include padding(20px);
        margin: 0px auto;
    }

    .box_init{
        width: 50%;
        height: auto;
        @include padding(20px);
        margin: 0px auto;
        border-radius: 10px;
        @include marginTop(25px);
        background-color: #ef476f;
        @include sombras();
    }

    #box-img-pokemon{
        background: #495057;
        width: 85%;
        border-radius: 10px;
        border: 28px solid #495057;;
        margin: 0px auto;
        @include marginTop(0.5rem);
        @include marginBottom(00.5rem);
    }

    .box_second{
        width: 90%;
        height: auto;
        padding: 10px;
        margin: 0px auto;
        background-color: #fff;
        -webkit-border-bottom-left-radius: 55px;
        -moz-border-radius-bottomleft: 55px;
        border-bottom-left-radius: 55px;
        border-top: 3px solid black;
        border-right: 3px solid black;
        border-bottom: 3px solid black;
        border-left: 3px solid black;
        /*background: rgba( 255, 255, 255, 0.78 );
        backdrop-filter: blur( 20px );
        -webkit-backdrop-filter: blur( 20px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );*/
    }

    #id_pokemon{
        @include textDecorationBlue();
        text-transform: capitalize;
        @include marginBottom(3rem);
        font-family: PokemonSolid;
        letter-spacing: 10px;
        color: rgb(226, 226, 21);
    }

    .class_decoration{
        color: white;
        @include textDecorationBlack()
    }

    #img_pokemon{
        width: 35%;
        display: block;
        margin: 0px auto;
    }

    .button {
        font-family: MonstserratBold;
        display: inline-block;
        width: 8em;
        height: 2.6em;
        line-height: 2.5em;
        position: relative;
        overflow: hidden;
        border: 2px solid $colorbtn;
        transition: color .5s;
        z-index: 1;
        font-size: 17px;
        border-radius: 6px;
        font-weight: 500;
        color: $colorbtn;
       }
       
       .button:before {
        content: "";
        position: absolute;
        z-index: -1;
        background: $colorbtn;
        height: 150px;
        width: 200px;
        border-radius: 50%;
       }
       
       .button:hover {
        color: #fff;
       }
       
       .button:before {
        top: 100%;
        left: 100%;
        transition: all .7s;
       }
       
       .button:hover:before {
        top: -30px;
        left: -30px;
       }
       
       .button:active:before {
        background: $colorbtn;
        transition: background 0s;
       }

       .img-control{
           width: 100px;
           height: auto;
       }

       #img-squere{
           width: 200px;
           height: auto;
           display: block;
           margin: 0px auto;
       }

       #img-circle{
           display: block !important;
           margin: 0px auto !important;
       }

       .hr{
           @include line();
           @include marginTop(1rem);
           @include marginBottom(1rem);
       }

}

/*Fuction responsive*/
@include fuction_responsive();