@import "fuction-sass";

@mixin fuction_responsive(){

    @media (max-width: 575.98px) { 
        /*body{background: red;}*/
    
        #title_logo{
            margin: 0px auto;
            font-size: 17px;
        }
    
        #poke-deck{

            .box_init{
                width: 100%;
                height: auto;
                @include marginTop(20px);
            }
    
            .box_input{
                width: 100%;
            }
    
            #img_pokemon{
                width: 100px;
                display: block;
                margin: 0px auto;
            }
    
            #id_pokemon{
                @include marginBottom(1.5rem);
            }

            .img-control{
                width: 50px;
            }
     
            #img-squere{
                width: 100px;
            }

            #box-img-pokemon{
                background: #495057;
                width: 80%;
                border-radius: 10px;
            }

            .img-control-menos{
                margin-left: 8px;
            }
     
        }
       
     }
    
    @media (min-width: 576px) and (max-width: 767.98px) { 
       /*body{background: green;}*/
    
       #poke-deck{
    
        .box_init{
            width: 100%;
            height: auto;
            @include marginTop(20px);
        }
    
        #img_pokemon{
            width: 200px;
            display: block;
            margin: 0px auto;
        }
    
        #id_pokemon{
            @include marginBottom(2rem);
        }

        .img-control-menos{
            margin-left: 15px;
        }
    
    }
    
}
    
     @media (min-width: 768px) and (max-width: 991.98px) { 
       /*body{background: yellow;}*/
    
       #poke-deck{
    
        .box_init{
            width: 100%;
            height: auto;
        }
    
        #img_pokemon{
            width: 200px;
            display: block;
            margin: 0px auto;
        }
    
    }
        
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
    /*body{background: blue;}*/

    .img-control-menos{
        margin-left: 15px !important;
    }
       
 }
    
@media  (min-width: 240px) and (max-width: 310px) {
        /*body{background-color: green;}*/
    
        #title_logo{
           margin: 0px auto;
           font-size: 12px;
       }
    
       #poke-deck{
    
        #img_pokemon{
            width: 80px;
            display: block;
            margin: 0px auto;
        }

        .img-control-menos{
            margin-left: 2px;
            width: 20% !important;
        }
    
    }
    
}

  
}
