@font-face {
  font-family: PokemonHollow;
  src: url(../../assets/fonts/Pokemon\ Hollow.ttf);
}
@font-face {
  font-family: PokemonSolid;
  src: url(../../assets/fonts/Pokemon\ Solid.ttf);
}
@font-face {
  font-family: MonstserratBold;
  src: url(../../assets/fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: MonstserratRegular;
  src: url(../../assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: BebasNeueRegular;
  src: url(../../assets/fonts/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: PokemonHollow;
  src: url(../../assets/fonts/Pokemon\ Hollow.ttf);
}
@font-face {
  font-family: PokemonSolid;
  src: url(../../assets/fonts/Pokemon\ Solid.ttf);
}
@font-face {
  font-family: MonstserratBold;
  src: url(../../assets/fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: MonstserratRegular;
  src: url(../../assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: BebasNeueRegular;
  src: url(../../assets/fonts/BebasNeue-Regular.ttf);
}
body {
  background-color: #f8f9fa;
}

#title_logo {
  text-shadow: 2px 2px 0 #212529, 2px -2px 0 #212529, -2px 2px 0 #212529, -2px -2px 0 #212529, 2px 0px 0 #212529, 0px 2px 0 #212529, -2px 0px 0 #212529, 0px -2px 0 #212529;
  margin: 2rem;
  font-family: MonstserratBold;
}

#poke-deck .box_input {
  width: 100%;
  height: auto;
  padding: 20px;
  margin: 0px auto;
}
#poke-deck .box_init {
  width: 50%;
  height: auto;
  padding: 20px;
  margin: 0px auto;
  border-radius: 35px;
  margin-top: 25px;
  background-color: #ef476f;
  -webkit-box-shadow: 14px 10px 9px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px 10px 9px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 14px 10px 9px -6px rgba(0, 0, 0, 0.75);
}
#poke-deck #box-img-pokemon {
  background: #495057;
  width: 85%;
  border-radius: 10px;
  border: 28px solid #495057;
  margin: 0px auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#poke-deck .box_second {
  width: 90%;
  height: auto;
  padding: 10px;
  margin: 0px auto;
  background-color: #fff;
  -webkit-border-bottom-left-radius: 55px;
  -moz-border-radius-bottomleft: 55px;
  border-bottom-left-radius: 55px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  /*background: rgba( 255, 255, 255, 0.78 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );*/
}
#poke-deck #id_pokemon {
  text-shadow: 3px 3px 0 #4074b5, 3px -3px 0 #4074b5, -3px 3px 0 #4074b5, -3px -3px 0 #4074b5, 3px 0px 0 #4074b5, 0px 3px 0 #4074b5, -3px 0px 0 #4074b5, 0px -3px 0 #4074b5;
  text-transform: capitalize;
  margin-bottom: 3rem;
  font-family: PokemonSolid;
  letter-spacing: 10px;
  color: #e2e215;
}
#poke-deck .class_decoration {
  color: white;
  text-shadow: 2px 2px 0 #212529, 2px -2px 0 #212529, -2px 2px 0 #212529, -2px -2px 0 #212529, 2px 0px 0 #212529, 0px 2px 0 #212529, -2px 0px 0 #212529, 0px -2px 0 #212529;
}
#poke-deck #img_pokemon {
  width: 35%;
  display: block;
  margin: 0px auto;
}
#poke-deck .button {
  font-family: MonstserratBold;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  position: relative;
  overflow: hidden;
  border: 2px solid #198754;
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: #198754;
}
#poke-deck .button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #198754;
  height: 150px;
  width: 200px;
  border-radius: 50%;
}
#poke-deck .button:hover {
  color: #fff;
}
#poke-deck .button:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}
#poke-deck .button:hover:before {
  top: -30px;
  left: -30px;
}
#poke-deck .button:active:before {
  background: #198754;
  transition: background 0s;
}
#poke-deck .img-control {
  width: 100px;
  height: auto;
}
#poke-deck #img-squere {
  width: 200px;
  height: auto;
  display: block;
  margin: 0px auto;
}
#poke-deck #img-circle {
  display: block !important;
  margin: 0px auto !important;
}
#poke-deck .hr {
  height: 5px;
  background-color: black;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*Fuction responsive*/
@media (max-width: 575.98px) {
  /*body{background: red;}*/
  #title_logo {
    margin: 0px auto;
    font-size: 17px;
  }

  #poke-deck .box_init {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  #poke-deck .box_input {
    width: 100%;
  }
  #poke-deck #img_pokemon {
    width: 100px;
    display: block;
    margin: 0px auto;
  }
  #poke-deck #id_pokemon {
    margin-bottom: 1.5rem;
  }
  #poke-deck .img-control {
    width: 50px;
  }
  #poke-deck #img-squere {
    width: 100px;
  }
  #poke-deck #box-img-pokemon {
    background: #495057;
    width: 80%;
    border-radius: 10px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /*body{background: green;}*/
  #poke-deck .box_init {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  #poke-deck #img_pokemon {
    width: 200px;
    display: block;
    margin: 0px auto;
  }
  #poke-deck #id_pokemon {
    margin-bottom: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  /*body{background: yellow;}*/
  #poke-deck .box_init {
    width: 100%;
    height: auto;
  }
  #poke-deck #img_pokemon {
    width: 200px;
    display: block;
    margin: 0px auto;
  }
}
@media (min-width: 240px) and (max-width: 310px) {
  /*body{background-color: green;}*/
  #title_logo {
    margin: 0px auto;
    font-size: 12px;
  }

  #poke-deck #img_pokemon {
    width: 80px;
    display: block;
    margin: 0px auto;
  }
}
/*Modal*/
#modal_pokemon_name {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 18px;
}

.box-modal {
  background: #8e9eab;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #eef2f3, #8e9eab);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #eef2f3, #8e9eab);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  text-shadow: 2px 2px 0 #212529, 2px -2px 0 #212529, -2px 2px 0 #212529, -2px -2px 0 #212529, 2px 0px 0 #212529, 0px 2px 0 #212529, -2px 0px 0 #212529, 0px -2px 0 #212529;
  border-radius: 20px;
  border: 4px solid black;
}

.box-img-modal {
  margin-bottom: 1.5rem;
  height: 120px;
}
.box-img-modal img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid black;
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

/*# sourceMappingURL=index.css.map */
